#startlink {
	text-decoration: none;
	color: #bcd5e5;
	position: absolute;
	bottom: 10%;
	left: 30%;
}

#simple {
	height: 100%;
	width: 100%;
}

#starth1 {
	font-size: 50px;
	font-family: sans-serif;
}

#formdiv {
	position: absolute;
	top: 40%;
	left: 30%;
}

#welcome {
	color: #bcd5e5;
	size: 30px;
	position: absolute;
	top: 30%;
	left: 30%;
}

#displaydiv {
	position: absolute;
    top: 40%;
    left: 30%;
}

body {
	background-color: #060a7f;
	background-image: url("/basicwebtraining/res/robot.jpg");
	height: auto;
	width: 100%;
}

input {
	background: none;
	border: 1px dotted #bcd5e5;
	display: inline-block;
	float: left;
	color: #bcd5e5;
}

label {
	display: inline-block;
	float: left;
	clear: left;
	text-align: right;
	color: #bcd5e5;
	size: 20px;
	width: 100px;
}

p {
	color: #bcd5e5;
	font-size: 30px;
    font-family: sans-serif;
}